<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dmfs.tasks"
    android:versionCode="44"
    android:versionName="1.0.11" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <permission
        android:name="org.dmfs.permission.READ_TASKS"
        android:description="@string/permission_description_read_tasks"
        android:label="@string/permission_read_tasks"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" >
    </permission>
    <permission
        android:name="org.dmfs.permission.WRITE_TASKS"
        android:description="@string/permission_description_write_tasks"
        android:label="@string/permission_write_tasks"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" >
    </permission>

    <uses-permission android:name="org.dmfs.permission.READ_TASKS" />
    <uses-permission android:name="org.dmfs.permission.WRITE_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:taskAffinity="org.dmfs.tasks.TaskListActivity"
        android:theme="@style/AppTheme" >

        <!-- TaskListActivity listens for MAIN intents -->
        <activity
            android:name="org.dmfs.tasks.TaskListActivity"
            android:label="@string/title_task_list"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ViewTaskActivity listens for VIEW intents -->
        <activity
            android:name="org.dmfs.tasks.ViewTaskActivity"
            android:label="@string/title_task_detail"
            android:parentActivityName="org.dmfs.tasks.TaskListActivity" >
            <intent-filter android:label="edit" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>
        </activity>

        <!-- EditTaskActivity listens for EDIT, INSERT and INDERT_OR_EDIT intents -->
        <activity
            android:name="org.dmfs.tasks.EditTaskActivity"
            android:label="@string/activity_edit_task_title"
            android:parentActivityName="org.dmfs.tasks.TaskListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dmfs.tasks.TaskListActivity" />

            <intent-filter android:label="@string/activity_edit_task_title" >
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>

            <!-- Intent filter for share intents -->
            <intent-filter android:label="@string/activity_add_task_title" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/activity_add_task_title" >
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/org.dmfs.tasks.tasks" />
            </intent-filter>
            <intent-filter android:label="@string/activity_add_task_title" >
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/org.dmfs.tasks.tasks" />
                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>
        </activity>

        <provider
            android:name="org.dmfs.provider.tasks.TaskProvider"
            android:authorities="org.dmfs.tasks"
            android:exported="true"
            android:label="@string/provider_label"
            android:multiprocess="false"
            android:readPermission="org.dmfs.permission.READ_TASKS"
            android:writePermission="org.dmfs.permission.WRITE_TASKS" />

        <activity
            android:name="org.dmfs.tasks.SyncSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.dmfs.tasks.TaskListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dmfs.tasks.TaskListActivity" />
        </activity>

        <service
            android:name="org.dmfs.tasks.homescreen.TaskListWidgetUpdaterService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <receiver
            android:name="org.dmfs.tasks.homescreen.TaskListWidgetProvider"
            android:label="@string/task_list_widget_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.TASKWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data
                    android:host="org.dmfs.tasks"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START" />

                <data
                    android:host="org.dmfs.tasks"
                    android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_widget_info" />
        </receiver>
        <receiver
            android:name="org.dmfs.tasks.homescreen.TaskListWidgetProviderLarge"
            android:label="@string/task_list_widget_title_4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.TASKWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data
                    android:host="org.dmfs.tasks"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START" />

                <data
                    android:host="org.dmfs.tasks"
                    android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_widget_info_large" />
        </receiver>
        <!-- Start the Service if applicable on boot -->
        <receiver android:name="org.dmfs.provider.tasks.broadcast.StartAlarmBroadcastHandler" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.dmfs.provider.tasks.broadcast.DueAlarmBroadcastHandler" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.dmfs.tasks.homescreen.TaskListWidgetUpdaterService$TaskListViewsFactory"
            android:enabled="@bool/enable_widget_provider" >
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data
                    android:host="org.dmfs.tasks"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START" />

                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.dmfs.provider.tasks.broadcast.AccountsChangeBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- custom alarm receivers -->
        <receiver android:name="org.dmfs.tasks.AlarmBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_DUE" />

                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START" />

                <data
                    android:host="org.dmfs.tasks"
                    android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks" />
            </intent-filter>
        </receiver>
    </application>

</manifest>