<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="org.dmfs.tasks">

    <uses-permission android:name="org.dmfs.permission.READ_TASKS"/>
    <uses-permission android:name="org.dmfs.permission.WRITE_TASKS"/>
    <uses-permission
            android:name="android.permission.GET_ACCOUNTS"
            android:maxSdkVersion="25"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--TODO Remove after https://github.com/dmfs/opentasks/issues/392-->
    <uses-sdk tools:overrideLibrary="org.dmfs.android.bolts"/>

    <application
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:name=".TasksApplication"
            android:taskAffinity="org.dmfs.tasks.TaskListActivity"
            android:supportsRtl="false"
            android:theme="@style/OpenTasksAppTheme">

        <!-- TaskListActivity listens for MAIN intents -->
        <activity
                android:name="org.dmfs.tasks.TaskListActivity"
                android:label="@string/title_task_list"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ViewTaskActivity listens for VIEW intents -->
        <activity
                android:name="org.dmfs.tasks.ViewTaskActivity"
                android:label="@string/title_task_detail"
                android:parentActivityName="org.dmfs.tasks.TaskListActivity"
                android:theme="@style/OpenTasksAppTheme"
                android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="edit">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>
        </activity>

        <!-- EditTaskActivity listens for EDIT, INSERT and INSERT_OR_EDIT intents -->
        <activity
                android:name="org.dmfs.tasks.EditTaskActivity"
                android:label="@string/activity_add_task_title"
                android:parentActivityName="org.dmfs.tasks.TaskListActivity"
                android:theme="@style/DetailsTheme"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.dmfs.tasks.TaskListActivity"/>

            <intent-filter android:label="@string/activity_edit_task_title">
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>

            <!-- Voice command "note to self" in google search -->
            <intent-filter android:label="@string/activity_add_task_title">
                <action android:name="com.google.android.gm.action.AUTO_SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/*"/>
            </intent-filter>

            <!-- Intent filter for share intents -->
            <intent-filter android:label="@string/share_as_task">
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter android:label="@string/activity_add_task_title">
                <action android:name="android.intent.action.INSERT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.dir/org.dmfs.tasks.tasks"/>
            </intent-filter>
            <intent-filter android:label="@string/activity_add_task_title">
                <action android:name="android.intent.action.INSERT_OR_EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.dir/org.dmfs.tasks.tasks"/>
                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>
        </activity>


        <activity
                android:name="org.dmfs.tasks.SyncSettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName="org.dmfs.tasks.TaskListActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.dmfs.tasks.TaskListActivity"/>
        </activity>

        <!-- homescreen widgets -->
        <activity
                android:name="org.dmfs.tasks.homescreen.TaskListWidgetSettingsActivity"
                android:label="@string/task_list_selection_title"
                android:theme="@style/Theme.MaterialDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <service
                android:name="org.dmfs.tasks.homescreen.TaskListWidgetUpdaterService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
                android:name="org.dmfs.tasks.homescreen.TaskListWidgetProvider"
                android:label="@string/task_list_widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.TASKWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/task_widget_info"/>
        </receiver>
        <receiver
                android:name="org.dmfs.tasks.homescreen.TaskListWidgetProviderLarge"
                android:enabled="true"
                android:label="@string/task_list_widget_title_4x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.TASKWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/task_widget_info_large"/>
        </receiver>

        <!-- custom alarm receivers -->
        <receiver
                android:name="org.dmfs.tasks.notification.AlarmBroadcastReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_DUE"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.android.tasks.TASK_START"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>
        </receiver>

        <!-- Dashclock extension -->
        <service
                android:name="org.dmfs.tasks.dashclock.TasksExtension"
                android:icon="@drawable/ic_dashboard"
                android:label="@string/dashclock_extension_title"
                android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>

            <meta-data
                    android:name="protocolVersion"
                    android:value="2"/>
            <meta-data
                    android:name="worldReadable"
                    android:value="true"/>
            <meta-data
                    android:name="description"
                    android:value="@string/dashclock_extension_description"/>
            <!-- A settings activity is optional -->
            <meta-data
                    android:name="settingsActivity"
                    android:value="org.dmfs.tasks.dashclock.DashClockPreferenceActivity"/>
        </service>

        <activity
                android:name="org.dmfs.tasks.dashclock.DashClockPreferenceActivity"
                android:exported="true"
                android:label="@string/title_task_list"
                android:theme="@style/AppTheme"/>
        <!-- Manage List -->
        <activity
                android:name="org.dmfs.tasks.ManageListActivity"
                android:theme="@style/AppThemeDialog">
            <intent-filter>
                <action android:name="android.intent.action.INSERT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="org.dmfs.intent.category.org.dmfs.account.LOCAL"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.dir/org.dmfs.tasks.tasklists"
                        android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="org.dmfs.intent.category.org.dmfs.account.LOCAL"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasklists"
                        android:scheme="content"/>
            </intent-filter>
        </activity>
        <!-- App Settings -->
        <activity
                android:name=".AppSettingsActivity"
                android:theme="@style/AppTheme"
                android:label="@string/title_activity_settings"/>

        <!-- Notification -->
        <receiver
                android:name="org.dmfs.tasks.notification.TaskNotificationHandler"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <data
                        android:path="org.dmfs.tasks"
                        android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.notification.COMPLETE"/>
                <action android:name="org.dmfs.tasks.action.notification.UNPIN"/>
                <action android:name="org.dmfs.tasks.action.notification.DELAY_1H"/>
                <action android:name="org.dmfs.tasks.action.notification.DELAY_1D"/>

                <data
                        android:scheme="content"
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.dmfs.tasks.intent.ACTION_DAY_CHANGED"/>
                <action android:name="org.dmfs.tasks.action.notification.UNDO"/>
                <action android:name="org.dmfs.tasks.action.notification.DESTRUCT"/>
                <action android:name="org.dmfs.tasks.action.notification.ACTION_UNDO_TIMEOUT"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="org.dmfs.tasks.utils.DatabaseInitializedReceiver"
                android:enabled="@bool/opentasks_support_local_lists"
                android:exported="false">
            <intent-filter>
                <action android:name="org.dmfs.tasks.DATABASE_INITIALIZED"/>

                <data
                        android:host="@string/opentasks_authority"
                        android:mimeType="vnd.android.cursor.dir/vnd.org.dmfs.authority.mimetype"
                        android:scheme="content"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".StaleListBroadcastReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="org.dmfs.tasks.action.STALE_LIST_BROADCAST"/>
            </intent-filter>
        </receiver>

        <service
                android:name="org.dmfs.tasks.notification.NotificationUpdaterService"
                android:exported="false"/>

        <service
                android:name="org.dmfs.tasks.quicksettings.TaskQuickSettingsTile"
                android:icon="@drawable/content_edit"
                android:label="@string/quicksettingstile_create"
                android:description="@string/quicksettingstile_create"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

    </application>

</manifest>
